<div class="main">

    <div class="container submain">

        <div class="">

            <!-- image and Name,Address,email and contact -->
            <div class="row mt-5">
                <div class="col-sm-2 offset-md-1 mt-5">
                    <img [src]="myImage" width="250px" height="250px" />
                </div>
                <div class="col-sm-4 offset-md-1 mt-5">
                    <h1 style="color:rgb(66, 3, 66); ">Danyal Waheed Qazi</h1>
                    <i class="fas fa-home mt-5"> House # Sc71,Street #20, Rahim Town, new Shakrial, Rawalpindi</i><br>
                    <i class="fas fa-envelope mt-1"> danyalqazi1@yahoo.com</i><br>
                    <i class="fas fa-mobile-alt mt-1">  +92 334 8550313</i>
                </div>
            </div>

            <!-- OBJECTIVE -->
            <div class="row mt-5">
                <div class="col-sm-2 offset-md-1">
                    <h2 style="color:rgb(66, 3, 66);">OBJECTIVE</h2>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <p>Commited to performing asigned task while working in a fast-paced environment.Programing skills including structural Programming, Object Oriented Programing in different languages (C++, C, HTML, CSS). </p>
                </div>
            </div>

            <!-- EDUCATION -->
            <div class="row mt-3">
                <div class="col-sm-2 offset-md-1">
                    <h2 style="color:rgb(66, 3, 66);">EDUCATION</h2>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-2 offset-md-1">
                    <p style="color:darkslategray;">2018-2020</p>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <p stye="font-style: italic;"><b>MCS</b></p>
                    <p style="color:darkslategray;font-style: italic;">PMAS Arid Agriculture University Rawalpindi</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <p style="color:darkslategray;">2016-2018</p>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <p stye="font-style: italic;"><b>B.com</b></p>
                    <p style="color:darkslategray; font-style: italic;">Allama Iqbal Open University Islamabad</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <p style="color:darkslategray;">2016-2018</p>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <p stye="font-style: italic;"><b>Fsc (pre-engineering)</b></p>
                    <p style="color:darkslategray; font-style: italic;">Indus Group of Colleges Rawalpindi</p>
                </div>
            </div>


            <!-- EXPERIENCE             -->
            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <h2 style="color:rgb(66, 3, 66);">EXPERIENCE</h2>
                </div>

            </div>
            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <p style="color:darkslategray;">Oct 2020-Present</p>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <p><b>Internship</b></p>
                    <p>Asasa.com</p>
                </div>
            </div>



            <!-- SKILLS             -->
            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <h2 style="color:rgb(66, 3, 66);">SKILLS</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 offset-md-1">
                    <p style="color:darkslategray;">Languages</p>
                </div>
                <div class="col-sm-4 offset-md-1">
                    <ul>
                        <li>
                            c-language
                        </li>
                        <li>
                            c++
                        </li>
                        <li>
                            MySql
                        </li>
                        <li>
                            Java
                        </li>
                        <li>
                            C#
                        </li>
                        <li>
                            Html/css
                        </li>
                        <li>
                            Bootstrap
                        </li>
                        <li>
                            Angular
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            Typescript
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>